
.wrapper-button {
    position: relative;
}
.containerFilterParameters .wrapper-button {
    border-top: 1px solid #a0aeb8;
}
.buttonStyle {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 12px 6px 12px 12px;
    align-items: center;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #393d45;
    height: 50px;
    width: 92px;
    color: #f6f6f6;
    margin-right: 5px;
}
.buttonStyle:hover {
    background-color: #515764;
}
.buttonStyle:active {
    background-color: #393d45c7;
}
.containerFilterParameters .buttonStyle {
    background: transparent;
}
.accordion-item--active .buttonStyle {
    background-color: #393d45;
    border-top: 1px solid #575f6d;
    border-left: 1px solid #575f6d;
    border-right: 1px solid #575f6d;
    z-index: 3;
}
.containerFilterParameters .buttonStyle {
    width: 100%;  
    display: flex;
    border: none;
}

/* ----------------------- */
/* если шырына екрана не большечем 520px то  */
@media(max-width: 520px) {
    .buttonStyle {
        display: none;
    }
}
/* ----------------------- */
.buttonStyle svg {
    fill: #f6f6f6;
    position: absolute;
    right: 10px;
}

.svgButton {
    transition: transform .15s ease-in-out;
    transform: rotate(-90deg);
}
.accordion-item--active .svgButton {
    transform: rotate(90deg);
}
/* ******************************** */
/* checkbox */
.checkbox-wrappe {
   display: none;
   /* display: block; */
   padding: 10px;
   background-color: #393d45;
   width: 195px;
   position: absolute;
   padding-top: 25px;
   z-index: 2;
   border: 1px solid #575f6d;
   top: 49px;
   box-shadow: 0 0 10px 5px rgb(43, 42, 42);
}
.containerFilterParameters .checkbox-wrappe {
   width: 100%;
   position: static;
   border: none;
   padding-top: 5px;
}
.accordion-item--active .checkbox-wrappe {
   display: block;
}
.labelCheckbox {
   margin-bottom: 13px;
   color: #f6f6f6;
   cursor: pointer;
   font-size: 16px;
}
.labelCheckbox.inactive {
    color: #967a70;
}
.labelCheckbox:hover {
   color: #f2a814;
}
.activeButton {
   color: #FF9800;
}
.labelCheckbox label {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.checkbox {
   display: none;
}
.fake {
   display: inline-block;
   width: 18px;
   height: 18px;
   border: 1px solid rgb(87, 95, 109);
   position: relative;
   background-color: #2b2d32;
   margin-right: 10px;
}
.fake:before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   width: 12px;
   height: 12px;
   background-color: #FF9800;
   opacity: 0;
   transition: .1s;
}
.checkbox:checked + .fake:before {
   opacity: 1;
}
.checkbox:checked~.text {
   font-weight: 700;
}
